<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xsi:schemaLocation="http://jax-ws.dev.java.net/spring/servlet http://jax-ws.java.net/spring/servlet.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd">

	<bean id="productService"
		class="com.radiantsage.service.product._1.ProductServiceImpl" />
	<bean id="productWebService"
		class="com.radiantsage.service.product._1.ProductWebService">
		<property name="productService" ref="productService" />
	</bean>
	<wss:binding url="/product">
		<wss:service>
			<ws:service bean="#productWebService"/>
		</wss:service>
	</wss:binding>
</beans>
